.container{
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.form{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;

}
.inputBox{
    width:100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 3px black;
}
.inputBox:focus{
    /* box-shadow: 0 0  10px 100px rgba(0,0,0,0.5); */
outline: none;
}

.submit-btn{
    position: absolute;
    right: 0px;
    padding: 7px;
    margin: 7px;
    margin-right: 8px;
    font-size: 12px;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: 600;
    box-shadow:  0 0 4px black;
    background-color: #0088ff;
    transition: 0.2s all;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #0773d1;
}